[submodule "bash_it"]
    path = bash_it
    url = https://github.com/Bash-it/bash-it

[submodule "tmuxifier"]
	path = tmuxifier
	url = https://github.com/jimeh/tmuxifier
[submodule "ssh-find-agent"]
	path = ssh-find-agent
	url = https://github.com/wwalker/ssh-find-agent.git
